.App-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--grey-few);
    box-sizing: border-box;
    overflow-y: hidden;
}

.App {
    width: 650px;
    height: 100vh;
}

.App-header {
    height: 120px;
    background-color: var(--white);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
}

.App-header h1 {
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 10px;
}

.App-results {
    overflow-y: scroll;
    max-height: calc(100vh - 120px);
}

@media screen and (max-width: 350px) {
    .App {
        width: 100%;
    }
}
