.Result {
    padding: 24px 12px;
    border: 1px solid var(--grey-scattered);
    margin-bottom: 15px;
    box-shadow: 0 0.0125em 0.75rem 0 rgb(20 18 81 / 10%);
    background-color: var(--white);
    font-weight: 600;
    border-radius: 5px;
}

.Result-flightinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Result-flightinfo-time {
    flex-grow: 0;
}

.Result-flightinfo-time-expected {
    font-size: 20px;
}

.Result-flightinfo-time-original {
    font-size: 16px;
    text-decoration: line-through;
}

.Result-flightinfo-destination {
    flex-basis: 150px;
    flex-grow: 0;
}

.Result-btnDetails {
    font-weight: 300;
}
