.SearchBar-input {
    width: 100%;
    display: block;
    padding: 10px;
    border: 2px solid var(--grey-few);
    border-radius: 4px;
    outline: none;
    color: var(--black);
}

.SearchBar-input:focus {
    border-color: var(--grey-overcast);
}
